<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>登录</title>
		<script src="js/mui.min.js"></script>
		<link href="css/mui.min.css" rel="stylesheet" />
		<style>
			body {
				overflow: hidden;
			}
			
			.delv {
				position: relative;
				width: 80%;
				height: 100px;
				margin: 0 auto;
			}
			
			.delv input {
				border-radius: 4px;
				border: 1px solid #f0f0f0;
				width: 100%;
				height: 50px;
				background: #FFF;
				padding-left: 60px;
				color: ccc;
				font-size: 16px;
			}
			
			.login div {
				border-radius: 4px;
				margin: 0 auto;
				text-align: center;
				width: 100%;
				height: 50px;
				line-height: 50px;
				background: #3B78C8;
			}
			
			.mui-input-row .mui-input-clear~.mui-icon-clear,
			.mui-input-row .mui-input-password~.mui-icon-eye {
				top: 36px;
			}
			
			.mui-pwd .mui-input-clear~.mui-icon-clear {
				margin-right: 30px;
			}
			
			#legal_news {
				background: #3b78c8;
				color: #FFFFFF;
				border: hidden;
				font-size: 17px;
				line-height: 32px;
				text-align: center;
				width: 50px;
				height: 30px;
			}
		</style>
	</head>

	<body id="body-id">
		<img style="width: 100%;height: 100%;position: absolute;bottom: 0;" src="img/login.jpg" />
		<header class="mui-bar mui-bar-nav" style=" background:#3b78c8; ">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title" style="color: #fff;">注册</h1>
		</header>

		<div style="width: 100%; height:100%; margin-top:250px; font-size:16px;">
			<div class="delv">
				<div class="mui-input-row">
					<span style=" position: relative; top:36px; left:10px;">账号</span>
					<input type="text" v-model="loginName" class="mui-input-clear" placeholder="请输入账号">
				</div>
				<div style="position: relative; top:-30px">
					<div class="mui-input-row mui-pwd">
						<span style=" position: relative; top:36px; left:10px;">密码</span>
						<input type="password" v-model="loginPwd" class=" mui-input-clear mui-input-password" placeholder="请输入密码">
					</div>
				</div>
				<div style="position: relative; top:-60px">
					<div class="mui-input-row mui-pwd">
						<span style=" position: relative; top:36px; left:10px;">密码</span>
						<input type="password" v-model="againPwd" class=" mui-input-clear mui-input-password" placeholder="请再次输入密码">
					</div>
				</div>
				<a class="login" @click="login()">
					<div>
						<p style="color: #fff; font-size:16px;">注册</p>
					</div>
				</a>
			</div>
		</div>
		<script src="js/common.js"></script>
		<script src="js/jquery-2.1.1.min.js"></script>
		<script src="js/jQuery.md5.js"></script>
		<script type="text/javascript" src="js/vue.js"></script>
		<script>
			dj.init();
			//手动关闭启动界面
			dj.closeStartPage();
			var app = new Vue({
				el: ".delv",
				data: {
					loginName: "",
					loginPwd: "",
					againPwd:""
				},
				methods: {
					login: function() {
						localStorage.setItem("phone", this.loginName);
						if(dj.unsafe_tap()) return;
						if(plus.networkinfo.getCurrentType() == plus.networkinfo.CONNECTION_NONE) {
							mui.toast("网络异常，请检查网络设置！");
						} else {
							VerifyLogin(this.loginName, this.loginPwd,this.againPwd);
						}
					}
				}
			})

			/**
			 * 验证登录
			 * @param {Object} mphone
			 * @param {Object} mpwd
			 */
			function VerifyLogin(mphone, mpwd,againPwd) {
				if(mphone.length == 0) {
					mui.toast("账号不能为空");
					return;
				}
				if(mpwd.length == 0) {
					mui.toast("密码不能为空");
					return;
				}
				if (againPwd.length==0) {
					mui.toast("请再次输入密码");
					return;
				}
				if (mpwd!=againPwd) {
					mui.toast("两次密码输入不一致");
				     return;
				 }
				login(mphone, mpwd,againPwd);
			}

			//解决手机键盘挡住输入框
			window.onresize = function() {
				document.activeElement.scrollIntoView(false);
			}

			//监听回车键
			document.onkeydown = function(event) {
				var e = event || window.event;
				if(e && e.keyCode == 9 || e.keyCode == 13) {
					VerifyLogin(app.loginName, app.loginPwd,app.againPwd);
				}
			};

			/**
			 * 登录方法
			 * @param {Object} phone
			 * @param {Object} password
			 */
			var mask = mui.createMask(); //设置遮罩层
			function login(phone, password,againPwd) {
				$.ajax({
					url: "http://www.wanandroid.com/user/register",
					timeout: 3000,
					data: {
						username:phone,
						password: password,
						repassword: againPwd
					},
					beforeSend: function(XMLHttpRequest) {
						plus.nativeUI.showWaiting("注册中...");
						mask.show();
					},
					complete: function() {
						plus.nativeUI.closeWaiting();
						mask.close();
					},
					success: function(data) {
						console.log("登录信息"+data);
						plus.nativeUI.closeWaiting();
						mask.close();
						var datas = JSON.parse(data);
//						if(datas.result == 1) {
//							localStorage.setItem("username", datas.USERNAME);
//							localStorage.setItem("phone", app.loginName);
//							localStorage.setItem("password", app.loginPwd);
//							localStorage.setItem('sid', datas.sid);
//							localStorage.setItem("mobile", datas.MOBILE);
//							localStorage.setItem("fax", datas.OFFICEFAX);
//							localStorage.setItem("telephone", datas.OFFICETEL);
//							localStorage.setItem("roomnumber", datas.ROOM);
//							localStorage.setItem("deptname", datas.DEPARTMENTNAME);
//							localStorage.setItem("email", datas.EMAIL);
//							openMenu();
//
//						} else {
//							mui.toast(datas.msg);
//							app.loginName = "";
//							app.loginPwd = "";
//							plus.nativeUI.closeWaiting();
//							mask.close();
//						}
					},
					complete: function(XMLHttpRequest, textStatus) {
						if(textStatus == 'timeout') {
							var xmlhttp = window.XMLHttpRequest ? new window.XMLHttpRequest() : new ActiveXObject("Microsoft.XMLHttp");
							xmlhttp.abort();
						}
					},
					error: function(XMLHttpRequest, textStatus, errorThrown) {
						console.log(XMLHttpRequest.status);
						console.log(XMLHttpRequest.readyState);
						// 错误信息   
						alert(textStatus);
						plus.nativeUI.closeWaiting();
						mask.close();
					}
				});
			}
			//登录成功，跳转主界面
			function openMenu() {
				setTimeout(function() {
					mui.openWindow({
						url: 'main.html',
						id: 'main.html',
						waiting: {
							autoShow: false
						}
					});
				}, 500);
			}

		</script>
	</body>

</html>